.Intro
{
    color: black
}
.intro{
    
    width: 1000px;
    border-radius: solid black;
    font-size: medium;
    
    
}
.intro1{
    
    width: 1000px;
    border-radius: solid black;
    
}
.intro2{
    
    width: 1000px;
    border-radius: solid black;
    
}
